<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexcss.css') }}">
    <title>Migration Analysis</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href={{ url_for('index') }}>Migration Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href={{ url_for('index') }}>Countries <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('about') }}>About</a>
          </li>

            <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#bd-example-modal-lg3">FAQs</a>
          </li>

        </ul>
      </div>
    </nav>
    <br>
    <div class="container">
        <center>
            <h2>
                {{ country }}
            </h2>
            <br><br><br>
           <div class="container">
                <div class="row">
                    <div class="col-lg-5 border">
                        <p style="font-size:24px;">General Information</p>
                        <p>extracted from UN data</p>
                        <div class="overflow-auto" style="max-height: 350px">
                            <table class="table">
                                <tbody>
                                {% for i in range(length) %}
                                    <tr>
                                        <td>{{ attribute[i] }}</td>
                                        <td>{{ value[i] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <br>
                    </div>

                    <div class="col-lg-5">
                            <p style="font-size:20px; text-align:'center'">Expat distribution in {{ country }} from top sending countries</p>
                            <!--<img style="width: auto; height: 400px; align: 'center'" src="{{ url_for('static', filename='plotcountry'+cc+'.png') }}" alt="Try again">
                            <img style="width: auto; height: 400px; align: 'center'" src="{{ plot }}" alt="Try again"> -->
                            <center>
                            <a href="#" data-toggle="modal" data-target="#bd-example-modal-lg2" title="Expat distribution in {{ country }}"><img style="width: 130%; height: 100%; align: 'center'; margin-top:-15px;" src={{ htmlstring1 }}></a>
                            </center>
                    </div>
                </div>
            </div><br>


            <!-- Modal for image explanation -->

            <div class="modal fade bd-example-modal-lg show" id="bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg show">
                <div class="modal-content overflow-auto">
                    <br>
                    <h5>Expat distribution in {{ country }} from top ten sending countries</h5>
                    <img style="width: auto; height: 400px; align: 'center'" src={{ htmlstring1 }}>

                </div>
              </div>
            </div>

            <div class="container" id="explorediv">
                 <br>
                <center>
                <a href={{ url_for('emigration', countrycode = cc )}} ><button type="button" class="btn btn-dark" style="width:280px;">View Emigration</button> </a>
                <a href={{ url_for('maps', countrycode = cc )}} ><button type="button" class="btn btn-dark" style="width:280px;">View Immigration</button> </a>
                <button type='button' id='explore' class="btn btn-primary btn-dark" style="align:right;width:280px;" >Explore</button>
                </center>
            </div>

        </center>
    </div>
<br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$("#explore").click(function(){
    $.ajax({
      url: "../../explore",
      type: "get",
      data: {cc: '{{cc}}', country: '{{country}}'},
      success: function(response) {
        $("#explorediv").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>

<!--<div class="bluecontainer"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                    <div id="plot">
                    <img style="width: auto; height: 400px; margin-top:-15px;" src={{ htmlstring2 }}><center>
                        <!--<div style="font-size:18px;"><b>|</b> Gender: Both <b>|</b> Scholarities: All <b>|</b> OS: All <b>|</b></div></center>
                        <div class="container" style="padding:5%;">
                            <div style="margin-left:5%; padding-left:5%; width:auto; align:left; text-align:left;">
                                <div style="font-size:18px;">Gender: Both</div>
                                <div style="font-size:18px;">Scholarities: All</div>
                                <div style="font-size:18px;">OS: All</div>
                            </div>
                        </div> -->
                    </div>
            </div>
            <div class="col-lg-2">
                <br>
            </div>
            <div class="col-lg-5">
                <br><br><br>
                <div class="row">
                    <br>
                    <div class="form-group col-lg-4" align="left">
                        <p style="font-size:24px;">Gender</p>
                        <div class="radio">
                            <label><input type="radio" name="gender" value="male"> Male</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="gender" value="female"> Female</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="gender" value="both" checked="checked"> Both</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-lg-4" align="left">
                        <p style="font-size:24px;">Scholarities</p>
                        <div class="radio">
                            <label><input type="radio" name="scholarities" value="graduated"> Graduated</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="scholarities" value="highschool"> High School</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="scholarities" value="nodegree"> No Degree</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="scholarities" value="all" checked="checked"> All</label>
                        </div><br>
<!--
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1">
                          <label class="custom-control-label" for="customSwitch1">Relative</label>
                        </div>-->
                        <br>
                        <button type='button' id='plotbtn' class="btn btn-primary btn-dark" style="align:right;" >Plot</button>
                    </div>
                    <br>
                    <div class="form-group col-lg-4" align="left">
                        <p style="font-size:24px;">OS used</p>
                        <div class="radio">
                            <label><input type="radio" name="os" value="ios"> iOS</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="os" value="android"> Android</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="os" value="others"> Others</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="os" value="all" checked="checked"> All</label>
                        </div>
                        <br>
                        <div class="custom-control custom-switch" style="vertical-align:'center';">
                          <input type="checkbox" class="custom-control-input" name="rel" id="relative">
                          <label class="custom-control-label" for="relative">Relative</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <center>
        <div id="plottext">
                <div style="font-size:18px;"> Gender: Both <b>|</b> Scholarities: All <b>|</b> OS: All</div></center>
        </div>
    </center>
    <br>
    <br>


<script>
$("#plotbtn").click(function(){
    //var text = $(this).val();
    var gender = $("input[name='gender']:checked").val();
    var scholarities = $("input[name='scholarities']:checked").val();
    var os_var = $("input[name='os']:checked").val();
    var relative = $("input[name='rel']:checked").val();
   $.ajax({
      url: "../../plotgraph",
      type: "get",
      data: {gender: gender, scholarities: scholarities, os: os_var, cc: '{{cc}}', relative: relative},
      success: function(response) {
        $("#plot").html(response);
        $("#plottext").html('<div style="font-size:18px;"> Gender: ' +gender+ ' <b>|</b> Scholarities: '+scholarities+' <b>|</b> OS: '+os_var+' </div>');
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>

<footer class="page-footer font-small blue pt-4" style="background-color:#44535e; color:white;">
  <div class="footer-copyright text-center py-3">
    June, 2019
  </div>
</footer>

    <div class="modal fade bd-example-modal-lg show" id="bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg show">
          <div class="container">
            <div class="modal-content overflow-auto">
            <br><br>
            <center><h4>Frequently Asked Questions</h4></center><br><br><br>
            <div class="container">
                <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne" style="background-color:#d4d5d6">
                          <p class="mb-0">
                            <button class="btn collapsed" style="font-color:'black';" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <p class="lead" style="font-size:17px;"><b>Where is the data coming from?</b></p>
                            </button>
                          </h5>
                        </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div style="background-color:#ffffff">
                                    <div class="container">
                                        <p class="lead" style="font-size:17px; color:black; padding:5%;">
                                            The data used in this website is extracted from Facebook using its Marketing API.
                                            Only the monthly active users on facebook are considered for the population count.
                                            The data is extracted for various target groups based on gender, age group,
                                            scholarities and the operating system they use.
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                     </div>  <!-- end of card accordian 1 -->
                <br>
                <div id="accordion2">
                      <div class="card">
                        <div class="card-header" id="headingTwo" style="background-color:#d4d5d6">
                          <p class="mb-0">
                            <button class="btn collapsed" style="font-color:'black';" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <p class="lead" style="font-size:17px;"><b>What is the significance of OS used?</b></p>
                            </button>
                          </h5>
                        </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div style="background-color:#ffffff">
                                    <div class="container">
                                        <p class="lead" style="font-size:17px; color:black; padding:5%;">
                                            Based on existing research by scientists, the type of operating system used
                                            by the user can be correlated to his/her income. Users with greater income
                                            tend to have iOS device compared to those with a lower income.
                                            So we associate the OS type iOS with a greater income and android with a lower income.
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                     </div>


                </div>
                <br><br><!--end of modal content -->
            </div>
        </div>
      </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
