<div id="plot">
    <center>
        <img style="width: auto; height: 400px; align: 'center'" src={{ plot }} alt="Data Insufficient">
        <!--<div class="border" style="align:left; text-align:left;">
            <div style="font-size:18px;">Gender: {{gender}}</div>
            <div style="font-size:18px;">Scholarities: {{scholarities}}</div>
            <div style="font-size:18px;">OS: {{os}}</div>
        </div>
        <center>
        <div style="font-size:18px;">Gender: Both <b>|</b> Scholarities: All <b>|</b> OS: All</div></center>
    </center> -->
    </center>
</div>